body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-section {
  border: 3px solid #353536;
  box-shadow: 15px 10px #888888;
  margin-top: 24px;
}

.home-section h1 {
  text-align: center;
}

.caption-text {
  border: 1px solid white;
  border-radius: 2px;
  background-color: black;
  opacity: 0.9;
}

.form-container h3 {
  text-align: center;
}

.form-container {
  margin-top: 24px;
  color: #353536;
}

.form {
  margin-top: 24px;
  border-top: 1px solid lightgrey;
  padding-top: 24px;
}

.topping-container {
  display: flex;
  justify-content: space-evenly;
}

.submitButton {
  margin: 16px 0;
}

.specReqBox {
  margin-top: 8px;
}